body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

.privacy-policy {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    color: #555;
}

h2 {
    color: #007BFF;
    margin-top: 20px;
}

h3 {
    color: #555;
    margin-top: 10px;
}

ul {
    margin: 10px 0 20px 20px;
    list-style: disc;
}

ul li {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}
